<ul data-role="listview">
    <li data-role="divider">A</li>
    <li>
        <h2>Header without link</h2>
        <p>No link</p>
    </li>
    <li><a data-href="#/information">Information</a></li>
    <li data-role="divider">Divider</li>
    <li><a data-href="#/about">
        <h2>About</h2>
        <p>Link to about page</p>
    </a></li>
    <li data-icon="chevron-thin-right" data-iconpos="right"><a data-href="#/contacts">
        <h2>Contacts</h2>
        <p>List item with icon on the right</p>
    </a></li>
    <li data-icon="chevron-thin-right" data-iconpos="right"><a data-href="#/information">
        <h2>Contacts Link 2</h2>
        <p>List item  with icon on the right and count</p>
        <span class="xf-count-bubble">32</span>
    </a></li>
    <li data-thumbpos="right"><a data-href="#/information">
        <img src="./images/thumbs.jpg" alt="">
        <h2>Contacts Link 3</h2>
        <p>List item  with a thumbnail on the right</p>
    </a></li>
</ul>